.home-contanier {
  margin-top: 50px;
  display: flex;
}
.cars-name p {
  margin-right: 30px;
}
.cars-f{
  color: rgb(226, 158, 32);
  font-size: 50px;
}
.heder-name{
  color: rgb(103, 158, 140);
}
.bast-cars img {
  width: 500px;
  height: 400px;
}
.review-btn {
  background-color: gold;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
.img-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.costoms{
  color: orange;
}