.grap-container {
  margin-top: 100px;
  display: flex;
}
.margin-right {
  margin-left: 200px;
}
.grap {
  margin-left: 100px;
}
.grap-1{
  color: rgb(174, 228, 174);
}
.grap-2{
  color: rgb(179, 149, 93);
}